// Colors
$primary: #FFFFFF;
$anti-primary: #000000;
$header-bg: #DCCAEC;
$footer-bg: #D6D6D6;

.theme--dark {
    --primary: #{$primary};
    --anti-primary: #{$anti-primary};
    --header-bg: #{$header-bg};
    --footer-bg: #{$footer-bg};
}