@use 'sass:math';
@import '../../styles/common';

.plannerWrapper {
    display: grid;
    grid-template-rows: repeat(3, max-content) 1fr;
    grid-template-columns: 1fr repeat(1, minmax(0, #{$container-size})) 1fr;
    gap: 1rem;
    height: 100%;

    &__filterCountry,
    &__filterCity,
    &__filterDate {
        grid-column: 2;
    }

    @media(min-width: $breakpoints-md) {
        & {
            grid-template-rows: repeat(2, max-content) 1fr;
            grid-template-columns: 1fr repeat(2, minmax(0, #{math.div($container-size, 2)})) 1fr;
        }

        &__filterCountry {
            grid-column: 2;
        }

        &__filterCity {
            grid-column: 3;
        }

        &__filterDate {
            grid-column: 2/4;
        }
    }
}


.products {
    border-top: 1px solid var(--bg-border);
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr repeat(1, minmax(0, #{$container-size})) 1fr;
    grid-column: 1/5;

    &__alert {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}